
/* 菜单栏布局 */
#nav-bar li {
    list-style: none;
    padding: 0%;
}

/* 一级 */
#nav-bar{
    z-index: 100;
    position: fixed;
    left:0;
    top:0;
    right: 0;
    background-color:  rgb(255, 255, 248);
}

#nav-bar #logo img{
    padding-left: 30px;
}

#nav-bar>ul {
    margin: 0;
    padding: 0;
    display: flex;
}

#nav-bar a {
    text-decoration: none;
}



#nav-bar .nav-litem {
    flex: 0 0 15%;
    position: relative;
}
#nav-bar .nav-logo {
    flex: 0 0 25%;
    position: relative;
}

#nav-bar .nav-litem>a {
    /* text-transform: uppercase; */
    font-size: 1rem;
    color: black;
    text-align: center;
    background-color: none;
    display: block;
    line-height: 55px;
    transition: .3s;
}

#nav-bar .nav-litem>a:hover {
    background-color: rgb(219, 219, 212);
}

#nav-bar .nav-litem>ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    transition: all .3s;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

#nav-bar .nav-litem>ul>li:hover {
    background-color: rgb(245, 245, 245);
}

#nav-bar .nav-litem>ul>li>a {
    padding: 15px 5px;
    line-height: 22px;
    display: block;
    color: rgb(100, 100, 100);
}

/* 翻转 */
#nav-bar .nav-litem>ul {
    opacity: 0;
    visibility: hidden;
    transform-origin: top;
    transform: perspective(600px) rotateX(-90deg);
}

#nav-bar .nav-litem:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}

/* ---------------------- */

